In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('movie_metadata.csv')

In [3]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
data = data.loc[:,['actor_1_name','actor_2_name','actor_3_name','director_name','genres','movie_title']]

In [6]:
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,Avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,Spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,The Dark Knight Rises
4,Doug Walker,Rob Walker,NaN,Doug Walker,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...

In [7]:
data.isnull().sum(axis=0)

actor_1_name       7
actor_2_name      13
actor_3_name      23
director_name    104
genres             0
movie_title        0
dtype: int64

In [8]:
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')

In [9]:
data.isnull().sum(axis=0)

actor_1_name     0
actor_2_name     0
actor_3_name     0
director_name    0
genres           0
movie_title      0
dtype: int64

In [10]:
data['genres'] = data['genres'].replace('|', ' ')

In [11]:
data['movie_title'] = data['movie_title'].str.lower()

In [12]:
data['movie_title'][0]

'avatar\xa0'

In [13]:
data['movie_title'] = data['movie_title'].str[:-1]

In [14]:
data['movie_title'][0]

'avatar'

In [15]:
data.to_csv('data.csv',index=False)

In [17]:
import pandas as pd
import numpy as np
# libraries for making count matrix and similarity matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
data = pd.read_csv('data.csv')

In [19]:
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,avatar
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,pirates of the caribbean: at world's end
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,spectre
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,the dark knight rises
4,Doug Walker,Rob Walker,unknown,Doug Walker,Documentary,star wars: episode vii - the force awakensÂ ...

In [20]:
data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

In [21]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(data['comb'])

In [22]:
sim = cosine_similarity(count_matrix)

In [23]:
np.save('similarity_matrix', sim)

In [25]:
data.to_csv('data.csv',index=False)

In [26]:
data.head()

,actor_1_name,actor_2_name,actor_3_name,director_name,genres,movie_title,comb
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron,Action|Adventure|Fantasy|Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James C...
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski,Action|Adventure|Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes,Action|Adventure|Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan,Action|Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Rob Walker,unknown,Doug Walker,Documentary,star wars: episode vii - the force awakensÂ ...,Doug Walker Rob Walker unknown Doug Walker Doc...

In [29]:
data['movie_title'].values

array(['avatar', "pirates of the caribbean: at world's end", 'spectre',
       ..., 'a plague so pleasant', 'shanghai calling',
       'my date with drew'], dtype=object)